@model Reliable_Reservations_MVC.Models.Customer.CustomerViewModel

<h2>Customer Details</h2>
<br />
@await Html.PartialAsync("_CustomerDetailsPartial", Model)

<a href="@Url.Action("Index", "Customer")">Back to Customer List</a>